.rustravel__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
@media screen and (max-width: 1152px) {
  .rustravel__subtitle {
    margin: 0 auto 56px;
  }
}
@media screen and (max-width: 544px) {
  .rustravel__subtitle {
    max-width: 288px;
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}