.rustravel__container {
  box-sizing: border-box;
  padding: 0 15px;
  max-width: 1014px;
  margin: auto;
}

@media screen and (max-width: 1152px) {
  .rustravel__container {
    max-width: 958px;
  }
}

@media screen and (max-width: 896px) {
  .rustravel__container {
    max-width: 100%;
    padding: 0;
  }
}