.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 18px;
}
@media screen and (max-width: 544px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}