.rustravel__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 685px) {
  .rustravel__title {
    max-width: 288px;
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}