/* Styles reset
-------------------------------------------------------------------- */
@import url(../vendor/normalize.css);
/* Blocks
-------------------------------------------------------------------- */
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/main/main.css);
@import url(../blocks/rustravel/rustravel.css);
@import url(../blocks/place/place.css);
@import url(../blocks/footer/footer.css);

/* Elements
-------------------------------------------------------------------- */
/* header------ */
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__languages/header__languages.css);
@import url(../blocks/header/__lang/header__lang.css);
/* rustravel------ */
@import url(../blocks/rustravel/__container/rustravel__container.css);
@import url(../blocks/rustravel/__title/rustravel__title.css);
@import url(../blocks/rustravel/__subtitle/rustravel__subtitle.css);
@import url(../blocks/rustravel/__img/rustravel__img.css);
/* figure------ */
@import url(../blocks/figure/__quote/figure__quote.css);
/* survey------ */
@import url(../blocks/survey/__container/survey__container.css);
@import url(../blocks/survey/__column/survey__column.css);
@import url(../blocks/survey/__title/survey__title.css);
@import url(../blocks/survey/__text/survey__text.css);
@import url(../blocks/survey/__statement/survey__statement.css);
/* photos------ */
@import url(../blocks/photos/__container/photos__container.css);
@import url(../blocks/photos/__photo/photos__photo.css);
/* places------ */
@import url(../blocks/places/__container/places__container.css);
/* place------ */
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__url/place__url.css);
@import url(../blocks/place/__img/place__img.css);
@import url(../blocks/place/__text/place__text.css);
/* trains------ */
@import url(../blocks/trains/__container/trains__container.css);
@import url(../blocks/trains/__title/trains__title.css);
@import url(../blocks/trains/__subtitle/trains__subtitle.css);
/* footer------ */
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links/footer__links.css);


/* Modificators
-------------------------------------------------------------------- */
@import url(../blocks/survey/__statement/_weight/survey__statement_weight_regular.css);
@import url(../blocks/place/__text/_position/place__text_position_top.css);
@import url(../blocks/place/__text/_position/place__text_position_bottom.css);


/* Fonts
-------------------------------------------------------------------- */

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Black.woff2);
  font-weight: 900;
}




/*media
----------*/
@media screen and (max-width: 1152px) {
  .header__container {
    max-width: 958px;
  }

  .rustravel__container {
    max-width: 958px;
  }

  .rustravel {
    padding: 48px 0 0 0;
  }

  .rustravel__subtitle {
    margin: 0 auto 56px;
  }

  .survey__container {
    max-width: 958px;
  }

  .photos__container {
    max-width: 958px;
  }

  .photos__container {
    gap: 14px;
  }

  .places__container {
    max-width: 958px;
  }


  .trains__container {
    max-width: 100%;
    min-height: 640px;
  }

  .footer__container {
    max-width: 958px;
  }
}

@media screen and (max-width: 896px) {
  .header__container {
    max-width: 740px;
    padding: 0 10px;
  }

  .rustravel__container {
    max-width: 100%;
    padding: 0;

  }

  .figure__quote {
    margin: 8px 0 0 24px;
  }

  .main {
    row-gap: 88px;
  }

  .survey__container {
    max-width: 740px;
    padding: 0 10px;

  }

  .survey__column {
    max-width: 740px;
  }

  .photos__container {
    max-width: 740px;
    padding: 0 10px;
    gap: 16px;
  }

  .places__container {
    max-width: 740px;
    padding: 0 10px;
    row-gap: 73px;
  }

  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }



  .place__text {
    font-size: 16px;
  }

  .trains__container {
    min-height: 480px;
  }

  .footer__container {
    max-width: 740px;
    padding: 0 10px;

  }
}

@media screen and (max-width: 544px) {
  .header__container {
    max-width: 308px;
    padding: 10;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang {
    font-size: 18px;
    line-height: 1.11;
  }

  .header {
    flex: 0 0 42px;
    padding: 16px 0 0 0;
  }

  .main {
    row-gap: 64px;
  }

  .rustravel__title {
    max-width: 288px;
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }

  .rustravel__subtitle {
    max-width: 288px;
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.25;
  }

  .survey__container {
    max-width: 308px;
    padding: 10;
  }

  .survey__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .photos__container {
    max-width: 308px;
    padding: 10;
    gap: 12px;
  }

  .places__container {
    max-width: 100%;
    padding: 0;
    row-gap: 50px;

  }


  .place__title {
    padding: 0 16px;
    font-size: 32px;
    line-height: 1.09;
  }

  .place__link-wrap {
    padding: 0 16px;
  }

  .place__text {
    padding: 0 16px;
  }

  .place__text_position_top {
    margin-bottom: -7px;
  }

  .trains__container {
    min-height: 320px;
  }

  .trains__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 16px;
  }

  .trains__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }

  .footer {
    flex: 0 0 310px;
  }

  .footer__container {
    max-width: 308px;
    padding: 10;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    justify-content: space-between;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}